<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" th:href="@{/beetlejuice.jpg}" />
    <link rel="stylesheet" th:href="@{/application.css}" />
    <title>Detail</title>
</head>
<body>
    <div class="details">
    	<div class="list">
            <div th:each="each : ${country}">
            		<h1>Country Name:</h1>
                	<p1 th:text="${each.name}"></p1>
                	<h1>Country Population:</h1>
                	<p1 th:text="${each.population}"></p1>
                	<h1>Country Capitol:</h1>
                	<p1 th:text="${each.capitol}"></p1>
                	<h1>Country Language:</h1>
                	<p1 th:text="${each.language}"></p1>
                	<h1>Country Flag:</h1>
                	<a th:href="@{'/country/' + ${each.name}}">
                    <img th:src="@{'/gifs/' + ${each.name} + '.gif'}" />
                	</a>
                </div>
            </div>
        </div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>