<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'></link>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
        <link rel="stylesheet" href="/css/normalize.css"></link>
        <link rel="stylesheet" href="/css/site.css"></link>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html">InstaTeam</a>
                    <a class="new-project button icon-left" href="#"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="/index">Projects</a></li>
                <li><a href="/collaborators">Collaborators</a></li>
                <li class="selected"><a href="/roles">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
               <form method="post" th:action="@{|/roles/${role.id}|}">
                     <h2>Edit Role</h2>
                        <ul class="checkbox-list">
                            <li>
                            	<div class="actions edit-role">
                            	<input type="text" th:placeholder="${role.name}" name="name" id="name"></input>
                            		<button class="buttonright" type="submit">Save</button>
                    			</div>
                            </li>
                        </ul>
                </form>
            </div>
        </section>
    </body>
</html>