<!DOCTYPE html>
<html>
	{{#partial "content"}}
    <body>
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form action="/detail/{{ entry.slug }}/edit" method="post">
                        <label for="title">Title</label>
                        <input type="text" name="title" maxlength=255 value="{{entry.title}}"/><br>
                        <label for="newConent">Entry</label>
                        <textarea rows="5" name="newContent">{{entry.blogEntryContent}}</textarea>
                        <input type="submit" value="Save" name = "Save" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
        </body>
    {{/partial}}
</html>
{{> base.hbs}}