<!DOCTYPE html>
<html>
  {{#partial "content"}}
        <section>
            <div class="container">
                <div class="password">
                    <form action="/password" method="post"
                    	<label for="username">Enter Username</label>
                    	<input type = "text" placeholder="What's your user name?" name="username" />
                        <label for="password">Enter Password</label>
                        <input type="password" name="password"><br>
                        <input type="submit" value="Submit" class="button">
                        <a href="" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
    </body>
    {{/partial}}
</html>
{{> base.hbs}}